#right_button {
  font-size: 25px;
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
  font-weight: bold;
  background-color: #00ced1;
}

#right_button :active{
  background-color: #008b8b;
}


#left_button {
  font-size: 25px;
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
  font-weight: bold;
  background-color: #ffd700;
}

#left_button :active{
  background-color: #ffa500;
}

#stop_button {
  font-size: 25px;
  display: block;
  cursor: pointer;
  width: 160px;
  text-align: center;
  border: 1px solid #232323;
  font-weight: bold;
  background-color: #ffffff;
}

#stop_button :active{
  background-color:#d3d3d3;
}
